<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learning.mybatis.mapper.EmpMapper">
    <!-- 级联方式处理映射关系 -->
    <resultMap id="empDeptMap" type="Emp">
        <id column="e_id" property="eid"></id>
        <result column="e_name" property="ename"></result>
        <result column="age" property="age"></result>
        <result column="gender" property="gender"></result>
        <result column="d_id" property="dept.did"></result>
        <result column="d_name" property="dept.dname"></result>
    </resultMap>
    <!--Emp getEmpAndDeptByEid(@Param("eid") int eid);-->
    <select id="getEmpAndDeptByEid" resultMap="empDeptMap">
        select emp.*,dept.* from t_emp emp left join t_dept dept on emp.d_id = dept.d_id where emp.e_id = #{eid}
    </select>

    <!-- 使用association处理映射关系 -->
    <resultMap id="empDeptMap2" type="Emp">
        <id column="e_id" property="eid"></id>
        <result column="e_name" property="ename"></result>
        <result column="age" property="age"></result>
        <result column="gender" property="gender"></result>
        <association property="dept" javaType="Dept">
            <id column="d_id" property="did"></id>
            <result column="d_name" property="dname"></result>
        </association>
    </resultMap>
    <!--Emp getEmpAndDeptByEid2(@Param("eid") int eid);-->
    <select id="getEmpAndDeptByEid2" resultMap="empDeptMap2">
        select emp.*,dept.* from t_emp emp left join t_dept dept on emp.d_id = dept.d_id where emp.e_id = #{eid}
    </select>

    <!-- 分步查询 -->
    <resultMap id="empDeptStepMap" type="Emp">
        <id column="e_id" property="eid"></id>
        <result column="e_name" property="ename"></result>
        <result column="age" property="age"></result>
        <result column="gender" property="gender"></result>
        <!--
            select：设置分步查询，查询某个属性的值的sql的标识（namespace.sqlId）
            column：将sql以及查询结果中的某个字段设置为分步查询的条件
        -->
        <association property="dept" select="com.learning.mybatis.mapper.DeptMapper.getEmpDeptByStep" column="d_id"></association>
    </resultMap>
    <!--Emp getEmpByStep(@Param("eid") int eid);-->
    <select id="getEmpByStep" resultMap="empDeptStepMap">
        select * from t_emp where e_id = #{eid}
    </select>



    <!--List<Emp> getEmpListByDid(@Param("did") int did);-->
    <select id="getEmpListByDid" resultType="Emp">
        select * from t_emp where d_id = #{did}
    </select>
</mapper>
